.page-container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
  background-color: #8cc0f4;
}

.top-bar {
  width: 100%;
  height: 50px; /* adjust as needed */
  background-color: #436c96;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
}

.top-bar h1 {
  color: #ffffff;
  font-size: 24px; /* adjust as needed */
  font-weight: bold;
}

.content-container {
  margin-top: 50px; /* adjust as needed */
  display: flex;
  flex-direction: column;
  align-items: center;
}

p {
  color: #000000;
  text-align: center;
}

.hamburger-menu {
  margin-left: 20px;
}

.headline {
  margin: 0;
  text-align: center;
  flex-grow: 1;
}
